@charset "UTF-8";
// 代码调整完毕，还是引用了templatemo_style.css。
html,
body{
	height:100%
}

body{
	padding-top:50px;
}

/*-----------导航条--------------*/
.navbar{
	margin-bottom: 0
}

/*-----------旋转木马------------*/
.carousel-login{
	height:430px;

	.carousel{
		height: 430px;
	    width: 70%;
	    display: inline-block;

	    .item{
	    	height:300px;
    		background-color:#000;    
	    }

	    .item.active,
	    .carousel-inner{
	    	height:100%
	    }

	    .fill{
	    	width: 100%;
		    height: 100%;
		    background-position: center;
		    background-size: cover;
	    }
	}
}

/*-------------登录---------------*/
.login{
	display: inline-block;
	width : 29%;
	height : 430px;
	overflow: auto;
	padding: 50px 25px;

	ul{
		margin-bottom: 20px;
	}
}

/*-----------页脚--------------*/
.footer {
	background-color: #f8ecc2;
}





















